html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

/* KOKO SIVU */
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #83c05b;
}

/* LOGO */
.header figure img {
  width: 200px;
  object-fit: cover;
}

/* NAVIGOINTI */
.nav_main ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.nav_main ul > * {
  border: solid green 1px;
  border-radius: 1rem;
  box-shadow: 1px 1px black;
  text-align: center;
  padding: 1rem;
  background-color: #9dcd7c;
  color: white;
  text-shadow: 0.11rem 0.1rem black;
}

/* TEKSTILAATIKKO */
.main {
  padding: 1rem;
  font-size: 2rem;
}
.laatikot {
  background-color: #83c05b;
}
.laatikot aside {
  padding: 1rem;
  margin-block-end: 1rem;
  background-color: white;
}

.asideheader {
  display: flex;
  background-color: #cbcbcb;
  padding: 1rem;
}
.asideheader > * {
  flex-grow: 1;
}
.nuoli {
  flex-grow: 0;
  text-align: right;
}

.asidekuva {
  padding-block-start: 1rem;
}

.asidekuva img {
  width: 50%;
}

/* NEWS LIST */
.newslist {
  display: flex;
  font-size: 1.4rem;
  padding-block-start: 1rem;
}
.newslist ul:nth-child(1) {
  font-weight: 700;
  padding-inline-end: 1rem;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.4rem;
}
.footer section p:nth-child(3) {
  color: black;
}

/* TABLETTINÄKYMÄ */
@media screen and (min-width: 426px) {
  .nav_main ul {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .nav_main ul > * {
    flex-basis: 100%;
  }

  .main {
    background-color: white;
    margin-block-end: 1rem;
  }
  .main p {
    background-image: url(./images/bg.jpg);
    background-repeat: repeat;
    padding: 1rem;
    background-color: white;
  }

  .laatikot {
    display: flex;
    flex-wrap: wrap;
  }
  
  .aside1,
  .aside2,
  .aside3 {
    box-sizing: border-box;
  }
  
  .aside1,
  .aside2 {
    flex: 0 0 50%;
  }
  
  .aside3 {
    flex: 0 0 100%;
  }
  

  
}
@media screen and (min-width: 769px) {
}