html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #83c05b;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.header figure img {
  width: 200px;
  object-fit: cover;
}

.nav_main ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.nav_main ul > * {
  border: solid green 1px;
  border-radius: 1rem;
  box-shadow: 1px 1px black;
  text-align: center;
  padding: 1rem;
  background-color: #9dcd7c;
  color: white;
  text-shadow: 0.11rem 0.1rem black;
}
.main {
  padding: 1rem;
}
.laatikot {
  background-color: white;
  padding: 1rem;
}

@media screen and (min-width: 426px) {
}
@media screen and (min-width: 769px) {
}

.asideheader {
  display: flex;
  background-color: #cbcbcb;
  padding: 1rem;
}
.asideheader > * {
  border: 1px solid black;
  flex-grow: 1;
}
.nuoli {
  flex-grow: 0;
  text-align: right;
}

.asidekuva img {
  margin: 1rem 0 1rem 0;
  width: 100%;
}
.newslist {
  display: flex;
  margin-block-start: 1rem;
}
.newslist ul:nth-child(1) {
  font-weight: 700;
  margin-inline-end: 1rem;
}
