html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #83c05b;
}
.wrapper > * {
  flex-grow: 1;
  flex-basis: 100%;
}

.header {
  background-color: #83c05b;
}
.header figure img {
  width: 200px;
  object-fit: cover;
}

.nav_main ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.nav_main ul > * {
  flex-grow: 1;
  flex-basis: 100%;
  border: solid green 1px;
  border-radius: 1rem;
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
  background-color: #9dcd7c;
  color: white;
  text-shadow: 0.11rem 0.1rem black;
}
.main {
  padding: 1rem;
  font-size: 1.6rem;
}

@media screen and (min-width: 426px) {
}
@media screen and (min-width: 769px) {
}

.aside1 {
  background-color: white;
  margin-block-end: 1rem;
}
.aside2 {
  background-color: white;
  margin-block-end: 1rem;
}
.aside3 {
  background-color: white;
  margin-block-end: 1rem;
}

.asideheader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1rem;
  padding: 1rem;
  background-color: #cbcbcb;
}
.asideheader > * {
  flex-grow: 0;
  flex-basis: 100%;
}
.nuoli {
  text-align: right;
}

.asidekuva {
}
